/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Main */
:root {
    /* Using tailwind indigo palette 
    https://tailwindcss.com/docs/customizing-colors */
    --text-background: #eef2ff;
    --main-background: #c7d2fe;
    --card-accent: #4f46e5;
    --dark-background: #4338ca;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 10em 1fr;
}

.icon {
    width: 25px;
    height: auto;
}

.icon.big {
    width: 40px;
}

.search {
    background-color: var(--main-background);
    border-radius: 10em;
    height: 50px;
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
}

.pfp {
    width: 25px;
    height: 25px;
    margin: auto;
    object-fit: cover;
    border-radius: 100%;
    display: grid;
    align-items: center;
    justify-content: end;
}

.pfp.big {
    width: 50px;
    height: 50px;
}

.upper {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

.lower {
    display: grid;
    grid-template-columns: 100px 1fr repeat(3, 100px);
    align-items: center;
    gap: 10px;
}

.lower>button {
    border-style: none;
    color: white;
    background-color: var(--dark-background);
    border-radius: 20px;
}

.header {
    background-color: var(--text-background);
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.sidebar {
    background-color: var(--dark-background);
    grid-column: 1;
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: 50px 1fr;
    color: white;
    font-weight: bolder;
    font-size: larger;
    align-items: center;
    padding: 10px;
}

.sidebar .logo {
    font-size: 25px;
}

.sidebar .logo img {
    width: 50px;
    height: auto;
}

.entry,
.logo {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
}

.sidebar img {
    filter: brightness(0) invert(1);
}

.main {
    background-color: var(--main-background);
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr 200px;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.main h1 {
    font-weight: bold;
}

.projects {
    grid-row: 1 / -1;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
    grid-auto-rows: 150px;
    gap: 40px;
}

.main .card {
    background-color: var(--text-background);
    display: grid;
}

.card-icons {
    width: 100%;
    display: grid;
    justify-content: end;
    grid-auto-flow: column;
    gap: 10px;
}

.announcement-container {
    display: grid;
    gap: 10px;
}

.announcement {
    background-color: var(--text-background);
}

.trending-container {
    display: grid;
    background-color: var(--text-background);
}

.user {
    display: grid;
    grid-template-columns: 25px 7em;
    grid-template-rows: repeat(2, 1fr);
    height: 50px;
    justify-content: center;
    gap: 5px;
}

.user a {
    grid-column: 1;
    grid-row: 1 / -1;
    display: grid;
    align-items: center;
}

.user h2 {
    align-self: end;
}

.user p {
    align-self: s;
}